body {
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
  background-image: url("./images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #ff7978;
}

@media only screen and (min-width: 1000px) {
  body {
    display: grid;
    place-items: center;
    background-image: url("./images/bg-intro-desktop.png");
    background-size: cover;
  }
}
